@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--v-theme-background));
}

body {
  font-family: "Nunito", sans-serif;
  color: rgba(31, 12, 47, 0.9);
}
