@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  color: rgb(var(--v-theme-on-background));
  background-color: rgb(var(--v-theme-background));
  transition: background 250ms ease, color 250ms ease;
}

#app {
  min-height: 100vh;
}
