html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(var(--v-theme-background));
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  color: rgba(31, 12, 47, 0.9);
}
